[Unit]
Description=Ping surveillance daemon
Documentation=https://github.com/attiand/pingdaemon
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/share/pingdaemon/bin/pingdaemon --config /etc/pingdaemon/config.json
KillMode=control-group
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target
